# ðŸŽ“ Final Pandas Practice Exam (20 Questions)

**Instructions:**
*   This is the **Final Boss**. It covers everything we've practiced.
*   Try to solve all 20 questions without looking at the answer key.
*   The questions get progressively harder.
*   **Good Luck!**

## Setup
Run this cell to load all datasets:

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# 1. CUSTOMERS (Demographics)
customers = pd.DataFrame({
    'CustID': [101, 102, 103, 104, 105, 106],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'New York'],
    'Age': [25, 34, 45, 29, 52, 31],
    'Member': [True, False, True, False, True, True]
})

# 2. PRODUCTS (Dirty Data)
products = pd.DataFrame({
    'ProdID': ['P1', 'P2', 'P3', 'P4', 'P5'],
    'ProdName': ['Laptop Pro', 'Gaming Mouse', 'Monitor 4K', 'USB-C Cable', 'Headphones'],
    'Category': ['Electronics', 'Accessories', 'Electronics', 'Accessories', 'Audio'],
    'Price': ['$1,200', '$50', '$300', 'Not Available', '$150']
})

# 3. ORDERS (Transactions)
orders = pd.DataFrame({
    'OrderID': [1, 2, 3, 4, 5, 6, 7, 8],
    'CustID': [101, 102, 101, 103, 105, 106, 101, 104],
    'ProdID': ['P1', 'P2', 'P5', 'P1', 'P3', 'P2', 'P5', 'P3'],
    'Qty': [1, 2, 1, 1, 2, 5, 1, 1],
    'Date': pd.to_datetime(['2023-01-01', '2023-01-05', '2023-01-10', '2023-02-01', 
                            '2023-02-15', '2023-03-01', '2023-03-10', '2023-03-20'])
})

# 4. LOCATIONS (Geospatial)
locations = pd.DataFrame({
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Lat': [40.71, 34.05, 41.87, 29.76, 33.44],
    'Lon': [-74.00, -118.24, -87.62, -95.36, -112.07]
})

# 5. MONTHLY STATS (Wide Format for Melt)
monthly_stats = pd.DataFrame({
    'Region': ['North', 'South', 'East', 'West'],
    'Jan_Sales': [10000, 15000, 12000, 11000],
    'Feb_Sales': [11000, 14000, 13000, 11500],
    'Mar_Sales': [12000, 16000, 12500, 12000]
})

print("Exam Data Loaded!")

**Q1:** Suppose you have a CSV file named 'data.csv'. Write the code to read it into a dataframe `df`, setting the 'ID' column as the index.

In [ ]:
# Your answer here

**Q2:** Inspect the `products` dataframe. Display the data types of all columns to see why 'Price' might be an object.

In [ ]:
# Your answer here

**Q3:** Select the **Name** and **Age** of all customers who live in 'New York'. Use `.loc`.

In [ ]:
# Your answer here

**Q4:** Use `.iloc` to select the first 3 rows and the first 2 columns of the `customers` dataframe.

In [ ]:
# Your answer here

**Q5:** Filter `customers` to find people who are EITHER older than 50 OR are Members. (Watch your parentheses!)

In [ ]:
# Your answer here

**Q6:** Filter `customers` to show only those living in 'New York' or 'Chicago'. Use `.isin()`.

In [ ]:
# Your answer here

**Q7:** Filter `products` to find items where `ProdName` contains the word 'Pro'.

In [ ]:
# Your answer here

**Q8:** Create a new column `AgeMonths` in `customers` which is `Age * 12`.

In [ ]:
# Your answer here

**Q9 (Cleaning):** Clean the `products` 'Price' column:
1. Remove '$' and ','
2. Convert to numeric (coercing errors)
3. Fill NaNs with 0.

In [ ]:
# Your answer here

**Q10 (Logic):** Create a column `PriceCategory` in `products` using `np.where`:
- Price > 1000 -> 'High'
- Price > 100 -> 'Medium'
- Else -> 'Low'

In [ ]:
# Your answer here

**Q11:** Merge `orders` and `customers` on 'CustID' (Inner Join). Save it as `merged_df`.

In [ ]:
# Your answer here

**Q12:** Merge `customers` and `orders` (Left Join), so we see all customers even if they haven't ordered anything.

In [ ]:
# Your answer here

**Q13:** Merge the `merged_df` (from Q11) with `products` on 'ProdID'. Save this as `full_data`.

In [ ]:
# Your answer here

**Q14:** Melt `monthly_stats` so that 'Jan_Sales', 'Feb_Sales', etc. become a 'Month' column and values become 'Sales'. Keep 'Region' fixed.

In [ ]:
# Your answer here

**Q15:** Pivot the melted dataframe (from Q14) back to wide format: Region as index, Month as columns, Sales as values.

In [ ]:
# Your answer here

**Q16:** Using `full_data` (from Q13), group by `City` and calculate the **Total Qty** sold.

In [ ]:
# Your answer here

**Q17:** Using `full_data`, group by `Category` and calculate TWO things: Total Qty and Average Price. Use `.agg()`.

In [ ]:
# Your answer here

**Q18:** Create a Bar Chart comparing the Total Qty sold by `Category`. (Use the result from Q17 or group on the fly).

In [ ]:
# Your answer here

**Q19:** Create a Scatter Map using `locations`. Size the points by a dummy variable (e.g., just set size=10) or merge sales data to size by sales.

In [ ]:
# Your answer here

**Q20 (The Boss Chain):** Write a single chain to:
1. Merge `orders` and `products`.
2. Filter for 'Electronics' category.
3. Group by 'ProdName'.
4. Sum the 'Qty'.

In [ ]:
# Your answer here

---
---
# ðŸ“ Answer Key


**Q1:** `df = pd.read_csv('data.csv', index_col='ID')`

**Q2:** `products.dtypes` or `products.info()`

**Q3:** `customers.loc[customers['City'] == 'New York', ['Name', 'Age']]`

**Q4:** `customers.iloc[0:3, 0:2]`

**Q5:** `customers[(customers['Age'] > 50) | (customers['Member'] == True)]`

**Q6:** `customers[customers['City'].isin(['New York', 'Chicago'])]`

**Q7:** `products[products['ProdName'].str.contains('Pro')]`

**Q8:** `customers['AgeMonths'] = customers['Age'] * 12`

**Q9:**
```python
products['Price'] = products['Price'].str.replace('$', '').str.replace(',', '')
products['Price'] = pd.to_numeric(products['Price'], errors='coerce').fillna(0)
```

**Q10:**
```python
products['PriceCategory'] = np.where(products['Price'] > 1000, 'High',
                            np.where(products['Price'] > 100, 'Medium', 'Low'))
```

**Q11:** `merged_df = pd.merge(orders, customers, on='CustID')`

**Q12:** `pd.merge(customers, orders, on='CustID', how='left')`

**Q13:** `full_data = pd.merge(merged_df, products, on='ProdID')`

**Q14:** `monthly_stats.melt(id_vars='Region', var_name='Month', value_name='Sales')`

**Q15:** `melted_df.pivot(index='Region', columns='Month', values='Sales')`

**Q16:** `full_data.groupby('City')['Qty'].sum()`

**Q17:** `full_data.groupby('Category').agg({'Qty': 'sum', 'Price': 'mean'})`

**Q18:** `px.bar(full_data.groupby('Category')['Qty'].sum().reset_index(), x='Category', y='Qty')`

**Q19:** `px.scatter_geo(locations, lat='Lat', lon='Lon')`

**Q20:**
```python
orders.merge(products, on='ProdID') \
      .loc[lambda x: x['Category'] == 'Electronics'] \
      .groupby('ProdName')['Qty'].sum()
```