# ðŸŽ¯ Interactive Pandas Test Prep

## How to Use This Notebook
1. Read each concept explanation
2. Try to solve the 5 practice questions (they get progressively harder)
3. Write your answer in the code cell below each question
4. At the end, check your answers against the answer key
5. Track which questions you got wrong for your final custom test

**Remember:** The test is closed-book, so try to solve these without looking things up!

---

## Setup
Run this cell first to load sample data:

In [ ]:
import pandas as pd
import numpy as np

# Sample data for practice
students = pd.DataFrame({
    'StudentID': [1, 2, 3, 4, 5],
    'Name': ['Alice Smith', 'Bob Jones', 'Charlie Brown', 'Diana Prince', 'Eve Anderson'],
    'Age': [22, 21, 23, 22, 24],
    'Grade': [85, 92, 78, 88, 95],
    'City': ['NYC', 'LA', 'NYC', 'Chicago', 'NYC']
})

print("Sample data loaded!")
students.head()

---
## Topic 1: Reading CSV Files

### Concept
`pd.read_csv(filename)` reads a CSV file into a DataFrame.

**General Pattern:**
```python
df = pd.read_csv('file.csv')
```

**Common Parameters:**
- No parameters needed for basic files
- `dtype={'ColumnName': 'type'}` - specify column types
- `index_col='ColumnName'` - use a column as the index

### Practice Questions

**Q1.1 (Easy):** Write code to read a file called `'data.csv'` into a variable called `df`.

In [ ]:
# Your answer here

**Q1.2:** Read `'students.csv'` and display the first 3 rows.

In [ ]:
# Your answer here

**Q1.3:** Read `'population.csv'` and make the 'Year' column the index.

In [ ]:
# Your answer here

**Q1.4:** Read `'numbers.csv'` and force the 'ZipCode' column to be read as a string (not a number).

In [ ]:
# Your answer here

**Q1.5 (Hard):** Read `'messy.csv'` which has zip codes stored as numbers, convert them to strings, AND set 'ID' as the index. Write this in one line if possible.

In [ ]:
# Your answer here

---
## Topic 2: Selection with .loc and .iloc

### Concept
- **`.loc[row, column]`**: Select by **labels** (names)
- **`.iloc[row, column]`**: Select by **positions** (numbers, 0-indexed)

**General Pattern:**
```python
df.loc[row_label, 'ColumnName']     # By name
df.iloc[0, 1]                        # By position
df.loc[df['Age'] > 21]              # Boolean filter with .loc
```

### Practice Questions

**Q2.1 (Easy):** Use `.loc` to select the row where StudentID is 3 from the `students` dataframe.

In [ ]:
# Your answer here

**Q2.2:** Use `.iloc` to get the value in the 2nd row, 3rd column of `students`.

In [ ]:
# Your answer here

**Q2.3:** Use `.loc` to select all rows where Age > 22, and only show the 'Name' and 'Grade' columns.

In [ ]:
# Your answer here

**Q2.4:** Use `.iloc` to select rows 1 through 3 (inclusive) and columns 2 through 4.

In [ ]:
# Your answer here

**Q2.5 (Hard):** Use `.loc` to get the 'Name' of the student with the highest 'Grade'. (Hint: combine with `.idxmax()`)

In [ ]:
# Your answer here

---
## Topic 3: String Methods

### Concept
Access string operations with `.str` accessor.

**General Pattern:**
```python
df['Column'].str.contains('text')    # Check if contains
df['Column'].str.startswith('A')    # Starts with
df['Column'].str.len()              # Length
df['Column'].str.split()            # Split into parts
df['Column'].str.replace('old', 'new')  # Replace
```

**CRITICAL:** You must use `.str` before any string method on a pandas column!

### Practice Questions

**Q3.1 (Easy):** Filter `students` to show only rows where 'City' contains 'NYC'.

In [ ]:
# Your answer here

**Q3.2:** Create a new column 'NameLength' that contains the length of each student's name.

In [ ]:
# Your answer here

**Q3.3:** Split the 'Name' column into 'FirstName' and 'LastName' columns. (Hint: use `.str.split()` and access parts)

In [ ]:
# Your answer here

**Q3.4:** Filter students whose name starts with 'A' or 'E'.

In [ ]:
# Your answer here

**Q3.5 (Hard):** Create a new column 'Initials' that shows the first letter of the first name + first letter of last name (e.g., 'AS' for Alice Smith).

In [ ]:
# Your answer here

---
## Topic 4: Boolean Indexing and .isin()

### Concept
Filter dataframes using conditions.

**General Pattern:**
```python
df[df['Column'] > value]                          # Single condition
df[(df['A'] > 10) & (df['B'] == 'text')]         # Multiple (use & and ())
df[df['Column'].isin(['value1', 'value2'])]      # Match multiple values
```

**CRITICAL:** Always use parentheses `()` around each condition when combining with `&` or `|`!

### Practice Questions

**Q4.1 (Easy):** Filter `students` to show only those with Grade > 85.

In [ ]:
# Your answer here

**Q4.2:** Show students who are exactly 22 years old AND from 'NYC'.

In [ ]:
# Your answer here

**Q4.3:** Use `.isin()` to filter students from either 'NYC' or 'Chicago'.

In [ ]:
# Your answer here

**Q4.4:** Show students who are either (Age > 22) OR (Grade > 90).

In [ ]:
# Your answer here

**Q4.5 (Hard):** Show students from 'NYC' who have above-average grades (hint: calculate mean first).

In [ ]:
# Your answer here

---
## Topic 5: Adding and Removing Columns

### Concept
**Adding:**
```python
df['NewColumn'] = values                 # Direct assignment
df['Sum'] = df['A'] + df['B']           # Math between columns
```

**Removing:**
```python
df.drop(columns=['Col1', 'Col2'])       # Returns new df
df.drop(columns=['Col1'], inplace=True) # Modifies original
```

**Copying:**
```python
df2 = df.copy()  # IMPORTANT: Always use .copy() for independent copies!
```

### Practice Questions

**Q5.1 (Easy):** Create a new column 'PassFail' that contains 'Pass' for everyone (same value for all rows).

In [ ]:
# Your answer here

**Q5.2:** Calculate a new column 'GradePoints' that is the Grade divided by 10.

In [ ]:
# Your answer here

**Q5.3:** Remove the 'City' column and show the result (don't modify original df).

In [ ]:
# Your answer here

**Q5.4:** Create a new column 'BonusGrade' that adds 5 points to the original Grade, then multiply by 0.95.

In [ ]:
# Your answer here

**Q5.5 (Hard):** Create a copy of `students` called `students_copy`, add a new column 'Test' with value 100, then drop both 'City' and 'Age' columns from the copy only.

In [ ]:
# Your answer here

---
## Topic 6: np.where() for Conditional Logic

### Concept
`np.where(condition, value_if_true, value_if_false)` creates values based on a condition.

**General Pattern:**
```python
df['NewCol'] = np.where(df['Grade'] > 80, 'Pass', 'Fail')
```

This is like an if-else statement for entire columns at once!

### Practice Questions

**Q6.1 (Easy):** Create a column 'Adult' that contains 'Yes' if Age >= 21, otherwise 'No'.

In [ ]:
# Your answer here

**Q6.2:** Create a column 'GradeLevel' that is 'High' if Grade > 90, otherwise 'Normal'.

In [ ]:
# Your answer here

**Q6.3:** Create a column 'Location' that is 'BigCity' if City is 'NYC' or 'LA', otherwise 'Other'.

In [ ]:
# Your answer here

**Q6.4:** Create a column 'Bonus' that adds 10 points if Grade < 80, otherwise adds 5 points.

In [ ]:
# Your answer here

**Q6.5 (Hard):** Use nested `np.where` to create 'Level': 'A' if Grade >= 90, 'B' if Grade >= 80, else 'C'.

In [ ]:
# Your answer here

---
## Topic 7: Merging DataFrames

### Concept
Combine two dataframes based on common columns.

**General Pattern:**
```python
pd.merge(df1, df2, on='CommonColumn', how='inner')
pd.merge(df1, df2, left_on='Col1', right_on='Col2', how='left')
```

**Types of merges:**
- `inner`: Only matching rows from both
- `outer`: All rows from both (fills NaN where no match)
- `left`: All from left, matching from right
- `right`: All from right, matching from left

### Practice Questions

In [ ]:
# Run this to create sample data for merge questions
courses = pd.DataFrame({
    'StudentID': [1, 2, 3, 6],
    'Course': ['Math', 'English', 'Science', 'History']
})

grades_extra = pd.DataFrame({
    'StudentID': [1, 2, 4, 5],
    'FinalGrade': [88, 92, 85, 90]
})

**Q7.1 (Easy):** Merge `students` and `courses` on 'StudentID' using an inner join.

In [ ]:
# Your answer here

**Q7.2:** Merge `students` and `courses` using a left join (keep all students).

In [ ]:
# Your answer here

**Q7.3:** Merge `courses` and `grades_extra` with an outer join. How many rows result?

In [ ]:
# Your answer here

**Q7.4:** Merge `students` and `courses`, but rename the 'Grade' column in students to 'MidtermGrade' first to avoid confusion.

In [ ]:
# Your answer here

**Q7.5 (Hard):** Merge `students`, `courses`, and `grades_extra` (all three) on StudentID using left joins.

In [ ]:
# Your answer here

---
## Topic 8: Grouping and Aggregation

### Concept
Group data and calculate statistics.

**General Pattern:**
```python
df.groupby('Category').size()                    # Count
df.groupby('Category')['Value'].sum()           # Sum
df.groupby('Category').agg({'Col1': 'sum', 'Col2': 'mean'})  # Multiple
```

**Remember:** groupby = Split â†’ Apply â†’ Combine

### Practice Questions

**Q8.1 (Easy):** Count how many students are in each City.

In [ ]:
# Your answer here

**Q8.2:** Find the average Grade for each City.

In [ ]:
# Your answer here

**Q8.3:** For each City, calculate both the average Age AND average Grade using `.agg()`.

In [ ]:
# Your answer here

**Q8.4:** Group by City and find the maximum Grade in each city, then reset the index.

In [ ]:
# Your answer here

**Q8.5 (Hard):** For students in 'NYC' only, group by their age and show the count AND average grade for each age group.

In [ ]:
# Your answer here

---
---
# ðŸ“ ANSWER KEY

**Instructions:** After attempting all questions above, check your answers here. Mark which questions you got wrong so we can generate a custom final test for you.

---

## Topic 1 Answers: Reading CSV

**Q1.1:** `df = pd.read_csv('data.csv')`

**Q1.2:** `df = pd.read_csv('students.csv'); df.head(3)`

**Q1.3:** `df = pd.read_csv('population.csv', index_col='Year')`

**Q1.4:** `df = pd.read_csv('numbers.csv', dtype={'ZipCode': 'string'})`

**Q1.5:** `df = pd.read_csv('messy.csv', dtype={'ZipCode': 'string'}, index_col='ID')`

## Topic 2 Answers: .loc and .iloc

**Q2.1:** `students.loc[students['StudentID'] == 3]` or if using StudentID as index: `students.loc[3]`

**Q2.2:** `students.iloc[1, 2]`

**Q2.3:** `students.loc[students['Age'] > 22, ['Name', 'Grade']]`

**Q2.4:** `students.iloc[1:4, 2:5]` (Remember: iloc end is exclusive)

**Q2.5:** `students.loc[students['Grade'].idxmax(), 'Name']`

## Topic 3 Answers: String Methods

**Q3.1:** `students[students['City'].str.contains('NYC')]`

**Q3.2:** `students['NameLength'] = students['Name'].str.len()`

**Q3.3:** 
```python
students['FirstName'] = students['Name'].str.split().str[0]
students['LastName'] = students['Name'].str.split().str[1]
```

**Q3.4:** 
```python
students[students['Name'].str.startswith('A') | students['Name'].str.startswith('E')]
# OR using contains with regex:
students[students['Name'].str.contains('^[AE]')]
```

**Q3.5:** 
```python
students['Initials'] = students['Name'].str.split().str[0].str[0] + students['Name'].str.split().str[1].str[0]
```

## Topic 4 Answers: Boolean Indexing

**Q4.1:** `students[students['Grade'] > 85]`

**Q4.2:** `students[(students['Age'] == 22) & (students['City'] == 'NYC')]`

**Q4.3:** `students[students['City'].isin(['NYC', 'Chicago'])]`

**Q4.4:** `students[(students['Age'] > 22) | (students['Grade'] > 90)]`

**Q4.5:** 
```python
avg_grade = students['Grade'].mean()
students[(students['City'] == 'NYC') & (students['Grade'] > avg_grade)]
```

## Topic 5 Answers: Adding/Removing Columns

**Q5.1:** `students['PassFail'] = 'Pass'`

**Q5.2:** `students['GradePoints'] = students['Grade'] / 10`

**Q5.3:** `students.drop(columns=['City'])`

**Q5.4:** `students['BonusGrade'] = (students['Grade'] + 5) * 0.95`

**Q5.5:** 
```python
students_copy = students.copy()
students_copy['Test'] = 100
students_copy = students_copy.drop(columns=['City', 'Age'])
```

## Topic 6 Answers: np.where

**Q6.1:** `students['Adult'] = np.where(students['Age'] >= 21, 'Yes', 'No')`

**Q6.2:** `students['GradeLevel'] = np.where(students['Grade'] > 90, 'High', 'Normal')`

**Q6.3:** 
```python
students['Location'] = np.where(students['City'].isin(['NYC', 'LA']), 'BigCity', 'Other')
```

**Q6.4:** `students['Bonus'] = np.where(students['Grade'] < 80, students['Grade'] + 10, students['Grade'] + 5)`

**Q6.5:** 
```python
students['Level'] = np.where(students['Grade'] >= 90, 'A',
                     np.where(students['Grade'] >= 80, 'B', 'C'))
```

## Topic 7 Answers: Merging

**Q7.1:** `pd.merge(students, courses, on='StudentID', how='inner')`

**Q7.2:** `pd.merge(students, courses, on='StudentID', how='left')`

**Q7.3:** `pd.merge(courses, grades_extra, on='StudentID', how='outer')` â†’ Returns 6 rows

**Q7.4:** 
```python
students_renamed = students.rename(columns={'Grade': 'MidtermGrade'})
pd.merge(students_renamed, courses, on='StudentID')
```

**Q7.5:** 
```python
merged = pd.merge(students, courses, on='StudentID', how='left')
final = pd.merge(merged, grades_extra, on='StudentID', how='left')
```

## Topic 8 Answers: groupby and .agg()

**Q8.1:** `students.groupby('City').size()`

**Q8.2:** `students.groupby('City')['Grade'].mean()`

**Q8.3:** `students.groupby('City').agg({'Age': 'mean', 'Grade': 'mean'})`

**Q8.4:** `students.groupby('City')['Grade'].max().reset_index()`

**Q8.5:** 
```python
students[students['City'] == 'NYC'].groupby('Age').agg({'StudentID': 'count', 'Grade': 'mean'})
```

---
## ðŸ“Š Track Your Mistakes

**Instructions:** Write down the question numbers you got wrong below:

**Questions I need to review:**
- 
- 
- 

Once you've identified your weak areas, let me know and I'll generate a custom final test focusing on those topics!