# ðŸ“Š Pandas Practice 6: Visualization, Logic & Pivot Drills

## Focus Areas
1.  **Visualization Types**: When to use Line vs Bar vs Scatter vs Map (Guidelines included).
2.  **Logic Drills**: `np.where` (Nested), `.drop` mechanics, and Boolean Logic.
3.  **Pivot Tables**: Converting "Long" data back to "Wide".
4.  **Real-World Scenario**: Access to Electricity (WDI Data) & 311 Mapping.

**Instructions:**
Read the "Usage" notes for each chart type carefully before solving.

## Setup
Run this cell to load the datasets:

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px

# 1. Sales Data (Time Series)
sales_time = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=6, freq='M'),
    'Revenue': [100, 120, 110, 150, 160, 200],
    'Region': ['North', 'North', 'North', 'South', 'South', 'South']
})

# 2. Category Data (Comparison)
categories = pd.DataFrame({
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor'],
    'Sales': [5000, 1200, 800, 3000],
    'Profit': [1000, 600, 200, 800]
})

# 3. Correlation Data (Relationship)
correlation = pd.DataFrame({
    'AdSpend': [100, 200, 300, 400, 500],
    'Sales': [1000, 2500, 3200, 4800, 5100],
    'City': ['NY', 'LA', 'CHI', 'HOU', 'PHX']
})

# 4. Map Data (Geospatial - 311 Requests Style)
map_data = pd.DataFrame({
    'boro_cd': [101, 102, 103],
    'CD Name': ['Financial District', 'Greenwich Village', 'Lower East Side'],
    'requests_per_capita': [0.05, 0.08, 0.03],
    'Lat': [40.70, 40.73, 40.71],
    'Lon': [-74.01, -74.00, -73.99]
})

# 5. Long Data for Pivot
grades_long = pd.DataFrame({
    'Student': ['Alice', 'Alice', 'Alice', 'Bob', 'Bob', 'Bob'],
    'Subject': ['Math', 'English', 'Science', 'Math', 'English', 'Science'],
    'Grade': [90, 85, 92, 78, 88, 75]
})

print("Data Loaded!")
categories.head()

---
## Topic 1: Chart Types & Usage

### ðŸ“‹ Guidelines (Cheat Sheet)
*   **Show changes over time** -> **Line Chart** (`px.line`)
*   **Compare categorical values** -> **Bar Chart** (`px.bar`)
*   **Compare two numeric variables** -> **Scatter Plot** (`px.scatter`)
*   **Show distribution** -> **Histogram** (`px.histogram`)
*   **Show geographic trends** -> **Map** (`px.choropleth` or `px.scatter_geo`)

### ðŸ—ºï¸ Mapping Note
For mapping 311 data (or similar), you often use `px.choropleth` (colored shapes) or `px.scatter_geo` (bubbles on map).

**Q1.1 (Line):** Plot `sales_time` to show Revenue trends over Date. Color the lines by 'Region'.

In [ ]:
# Your answer here

**Q1.2 (Bar):** Plot `categories` to compare Sales for each Product. Color bars by 'Product'.

In [ ]:
# Your answer here

**Q1.3 (Scatter):** Plot `correlation` to see if AdSpend relates to Sales. Size the bubbles by 'Sales'.

In [ ]:
# Your answer here

**Q1.4 (Map Scenario):** You have `map_data` showing 311 requests per capita. Create a scatter map using `Lat`/`Lon` and size the points by `requests_per_capita`.

In [ ]:
# Your answer here

---
## Topic 2: np.where (Nested Logic)

### Concept
You can put an `np.where` **inside** another `np.where` to handle 3+ categories (High/Med/Low).

**Syntax:**
```python
np.where(condition1, 'Value1',
    np.where(condition2, 'Value2', 'Value3')
)
```

**Q2.1:** Create a 'Performance' column in `categories`:
- If Sales > 4000 -> 'High'
- If Sales > 1000 -> 'Medium'
- Else -> 'Low'

In [ ]:
# Your answer here

---
## Topic 3: Drop Mechanics (Review)

### âš ï¸ Reminder
*   `df.drop()` needs `columns=` or `index=`.
*   It returns a **copy** (unless `inplace=True`).

**Q3.1:** Drop the 'Profit' column from `categories`. Ensure the change is SAVED to the variable `categories`.

In [ ]:
# Your answer here

**Q3.2:** Drop the **row** with index 1 from `categories`.

In [ ]:
# Your answer here

---
## Topic 4: Boolean Logic (Review)

### âš ï¸ Reminder
*   Use `&` (AND), `|` (OR).
*   **Parentheses are mandatory** around conditions!

**Q4.1:** Filter `sales_time` for rows where Region is 'North' OR Revenue > 180.

In [ ]:
# Your answer here

---
## Topic 5: Pivot Tables (Drill)

### Concept
Turning "Long" data (many rows) into "Wide" data (many columns).

**Syntax:**
```python
df.pivot(
    index='WhatStaysAsRows',
    columns='WhatBecomesColumns',
    values='WhatFillsCells'
)
```

**Q5.1:** Pivot `grades_long` so that each **Student** is a row, and the **Subjects** become columns.

In [ ]:
# Your answer here

**Q5.2:** (Tricky) Pivot `grades_long` the OTHER way: Make **Subject** the rows, and **Student** names the columns.

In [ ]:
# Your answer here

---
---
# ðŸ“ Answer Key


**Q1.1:** `px.line(sales_time, x='Date', y='Revenue', color='Region')`

**Q1.2:** `px.bar(categories, x='Product', y='Sales', color='Product')`

**Q1.3:** `px.scatter(correlation, x='AdSpend', y='Sales', size='Sales')`

**Q1.4:** `px.scatter_geo(map_data, lat='Lat', lon='Lon', size='requests_per_capita')`

**Q2.1:**
```python
categories['Performance'] = np.where(categories['Sales'] > 4000, 'High',
                            np.where(categories['Sales'] > 1000, 'Medium', 'Low'))
```

**Q3.1:** `categories = categories.drop(columns='Profit')`

**Q3.2:** `categories = categories.drop(index=1)`

**Q4.1:** `sales_time[(sales_time['Region'] == 'North') | (sales_time['Revenue'] > 180)]`

**Q5.1:**
```python
grades_long.pivot(index='Student', columns='Subject', values='Grade')
```

**Q5.2:**
```python
grades_long.pivot(index='Subject', columns='Student', values='Grade')
```