# ðŸ”¥ Pandas Practice 5: Advanced Drills

## Focus Areas
This notebook increases the difficulty by combining concepts:
1.  **Multi-Step Cleaning**: String cleaning + Type conversion + Handling NaNs.
2.  **Complex Filtering**: Using string methods and boolean logic together.
3.  **Advanced Merging**: Merging on different column names (`left_on`, `right_on`).
4.  **Pivot Tables**: The reverse of Melt!

**Instructions:**
Solve these without looking up syntax if possible.

## Setup
Run this cell to load the datasets:

In [ ]:
import pandas as pd
import numpy as np

# 1. Dirty Product Data
products = pd.DataFrame({
    'ID': [101, 102, 103, 104],
    'Price': ['$1,200', '$500', '$50', 'Not For Sale'],
    'Name': ['Laptop Pro', 'Tablet', 'Mouse', 'Prototype']
})

# 2. Sales Data (Different ID Name)
sales = pd.DataFrame({
    'Prod_Ref': [101, 101, 103, 102],
    'Qty': [1, 2, 10, 5],
    'Region': ['North', 'South', 'North', 'East']
})

# 3. Long Data (for Pivoting)
scores_long = pd.DataFrame({
    'Student': ['Alice', 'Alice', 'Bob', 'Bob'],
    'Subject': ['Math', 'Science', 'Math', 'Science'],
    'Score': [90, 85, 78, 92]
})

print("Data Loaded!")
products.head()

---
## Topic 1: Multi-Step Cleaning

### Challenge
Real data is messy. You often need to:
1.  Remove symbols (`$`, `,`) using `.str.replace()`.
2.  Convert to numbers using `pd.to_numeric(..., errors='coerce')`.
3.  Fill missing values (`NaN`) with 0 or drop them.

**Q1.1:** Clean the `products` 'Price' column:
1. Remove '$' and ','
2. Convert to numeric (coercing errors)
3. Fill any NaNs with 0.

In [ ]:
# Your answer here

**Q1.2:** Create a new column 'IsExpensive' that is True if Price > 1000, else False.

In [ ]:
# Your answer here

---
## Topic 2: Advanced Merging

### Concept
Sometimes the columns you want to merge on have **different names**.

**Syntax:**
```python
pd.merge(
    left_df, 
    right_df, 
    left_on='LeftColName', 
    right_on='RightColName'
)
```

**Q2.1:** Merge `products` and `sales`. Note that products uses 'ID' but sales uses 'Prod_Ref'. Use an inner join.

In [ ]:
# Your answer here

**Q2.2:** Calculate the Total Revenue (Price * Qty) for each sale in the merged dataframe.

In [ ]:
# Your answer here

---
## Topic 3: Pivot Tables

### Concept
Turning "Long" data back into "Wide" data (e.g., making Subjects into columns).

**Syntax:**
```python
df.pivot(
    index='Student',    # What stays as rows
    columns='Subject',  # What becomes new columns
    values='Score'      # What fills the cells
)
```

**Q3.1:** Pivot `scores_long` so that each Student is a row, and 'Math'/'Science' become columns containing the scores.

In [ ]:
# Your answer here

---
## Topic 4: Complex Filtering

### Challenge
Combining string methods with boolean logic.

**Q4.1:** Filter `products` to find items that contain 'Pro' in their name OR have a Price > 100.

In [ ]:
# Your answer here

---
---
# ðŸ“ Answer Key


**Q1.1:**
```python
products['Price'] = products['Price'].str.replace('$', '').str.replace(',', '')
products['Price'] = pd.to_numeric(products['Price'], errors='coerce')
products['Price'] = products['Price'].fillna(0)
```

**Q1.2:**
```python
products['IsExpensive'] = products['Price'] > 1000
# OR
products['IsExpensive'] = np.where(products['Price'] > 1000, True, False)
```

**Q2.1:**
```python
merged = pd.merge(products, sales, left_on='ID', right_on='Prod_Ref')
```

**Q2.2:**
```python
merged['Revenue'] = merged['Price'] * merged['Qty']
```

**Q3.1:**
```python
scores_long.pivot(index='Student', columns='Subject', values='Score')
```

**Q4.1:**
```python
products[
    products['Name'].str.contains('Pro') | 
    (products['Price'] > 100)
]
```